<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 클래스에 별명을 붙여 XML에서 짧게 쓸 수 있게 함 -->
    <typeAliases>
        <typeAlias alias="Post" type="io.github.s0ooo0k.dbtest.model.vo.Post"/>
        <typeAlias alias="PostRequestDTO" type="io.github.s0ooo0k.dbtest.model.vo.PostRequestDTO"/>
    </typeAliases>
</configuration>
